
.btnPortfolio{
    background-color: #0D3917;
    color: #ffffff;
    padding: 0.6rem;
    border-radius: 3rem;
    font-size: 1.2rem;
    font-family: 'Libre Baskerville', serif;
    border: #0D3917;
}